body {
    background-image: url("../images/background.png");
    background-size: 100%;
}

#header {
  background-color: #282e2e;
  color: white;
  width: 35%;
  height: 40px;
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
}

#header p {
  padding: 10px;
}

#timer {
  border-radius: 50%;
  color: #fff;
  width: 10%;
  height: 18%;
  text-align: center;
  font-size: 20px;
  position: absolute;
  right: 11.6%;
  top: 26%;
}

#timer p {
  padding-top: 20px;
}

#start {
  background-color: #009bac;
  width: 10%;
  height: 50px;
  text-align: center;
  margin: 100px auto;
  font-size: 20px;
  color: white;
  opacity: 0.9;
}

#start p {
  padding: 15px;
}

#end {
  background-color: #fff;
  width: 35%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  color: #000;
}

.question {
  background-color: #fff;
  width: 35%;
  height: 100%;
  text-align: center;
  margin: 100px auto;
  font-size: 20px;
  color: #000;
  opacity: 0.9;
}

.question p {
  padding: 2%;
}


.answer1 {
  background-color: #cb3c1f;
}

.answer2 {
  background-color: #007680;
}

.answer3 {
  background-color: #177132;
}

.answer4 {
  background-color: #299046;
}

div .choice p:hover {
  background-color: #000;
  color: white;
}

.hide {
  display: none;
}

.wrongAnswerPage {
  background-color: #fff;
  width: 35%;
  height: 100%;
  text-align: center;
  margin: 100px auto;
  font-size: 20px;
  color: #000;
  opacity: 0.9;
}

.rightAnswerPage {
  background-color: #fff;
  width: 35%;
  height: 100%;
  text-align: center;
  margin: 100px auto;
  font-size: 20px;
  color: #000;
  opacity: 0.9;
}